<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@2.0.3/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <script
        src="https://www.paypal.com/sdk/js?client-id=AV55VbNXua3aJJWpHZ9noXqK2pQJJYj18Q7ReOizm2anIeUnH35-TQZ7GI8trz8irOQMazROzV6It-SD"> // Replace YOUR_CLIENT_ID with your sandbox client ID
        </script>

    <div id="paypal-button-container" class="w-3/5 my-4 justify-center"></div>
    <!-- Add the checkout buttons, set up the order and approve the order -->
    <script type="text/javascript" src="/static/js/payment.js"></script>

</body>

</html>